//
   Created by Chris Tofts on 18/05/2016.

extends layout

block content
    include toolbar.html

    head
        link(href='/stylesheets/item.css', rel='stylesheet')

    body
        .container
            .row.top
                .col-md-9
                    h1 #{name}
                .col-md-3
            .row.middle
                .col-md-9.left
                    img(src='images/#{image}.jpg', alt='#{name}', class="img-thumbnail")

                .col-md-3.right

                    hr
                    h3 Price: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $#{cost}
                    br
                    h3 Available: &nbsp; &nbsp; &nbsp; &nbsp;  #{stock}

                    ul.list-inline
                        li
                            p Quantity
                        li
                            form(action="/purchase"+"?id=" + id, method="post")
                                .form-group
                                    button.btn.btn-primary(type='submit' id='main-button') Buy it now
                                    script.
                                        getCookie = function (cname) {
                                            var name = cname + "=";
                                            var ca = document.cookie.split(';');
                                            for (var i = 0; i < ca.length; i++) {
                                                var c = ca[i];
                                                while (c.charAt(0) == ' ') {
                                                    c = c.substring(1);
                                                }
                                                if (c.indexOf(name) == 0) {
                                                    return c.substring(name.length, c.length);
                                                }
                                            }
                                            return "";
                                        }
                                        var signedInID = getCookie("ID");
                                        var itemUid = #{uid};
                                        if(signedInID == ""){
                                            var btn = document.getElementById('main-button');
                                            btn.className = "invisible";
                                        }
                                        else if(itemUid == signedInID){
                                            var btn = document.getElementById('main-button');
                                            btn.innerHTML = "Remove";
                                            btn.className = "btn btn-danger";
                                        }
                                        console.log(#{uid});
                                    select.form-control(name="quantity")
                                        -var number = stock;
                                        -var count = 1;
                                        while number != 0
                                            option(value = count) #{count}
                                            -number = number - 1;
                                            -count = count + 1;

                                            -console.log("This is Count: " + count);
                                            -console.log("This is number: " + number);


                    hr
            .row.bottom
                .col-md-9

                    .description
                        h3 Description:
                        h4 #{description}
                        hr
