//
   Created by Chris Tofts on 18/05/2016.

extends layout

block content
    include toolbar.html

    head
        link(href='/stylesheets/item.css', rel='stylesheet')

    body
        .container
            .row.top
                .col-md-3
                .col-md-6
                    h1 #{name}
                .col-md-3
            .row.middle
                .col-md-9.left
                    img(src='images/#{image}.jpg', alt='#{name}', class="img-thumbnail")

                .col-md-3.right

                    hr
                    h3 Price: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9.99
                    br
                    h3 Available: &nbsp; &nbsp; &nbsp; &nbsp;  3
                    ul.list-inline
                        li
                            p Quantity
                        li
                            form(action="/purchase", method="post")
                                .form-group
                                    select.form-control(name="quantity")
                                        -var number = !{stock};
                                        -var count = 1;
                                            while number != 0
                                                option(value = count) #{count}
                                                number = number + 1;
                                                count = count + 1;
                                button.btn.btn-primary(type='submit') Buy it now

                    button.btn.btn-default(type='button') Add to Cart
                    button.btn.btn-success(type='button') Add to Watchlist
                    hr
            .row.bottom
                .col-md-9

                    .description
                        h3 Description:
                        h4 #{description}
                        hr
