//
   Created by Chris Tofts on 18/05/2016.

extends layout

block content
    include toolbar.html

    head
        link(href='/stylesheets/item.css', rel='stylesheet')

    body
        .container
            .row.top
                .col-md-9
                    h1 #{name}
                .col-md-3
            .row.middle
                .col-md-9.left
                    img(src='images/#{image}.jpg', alt='#{name}', class="img-thumbnail")

                .col-md-3.right

                    hr
                    h3 Price: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9.99
                    br
                    h3 Available: &nbsp; &nbsp; &nbsp; &nbsp;  3

                    ul.list-inline
                        li
                            p Quantity
                        li
                            form(action="/purchase", method="post")
                                .form-group
                                    button.btn.btn-primary(type='submit') Buy it now
                                    select.form-control(name="quantity")
                                        -var number = stock;
                                        -var count = 1;
                                        while number != 0
                                            option(value = count) #{count}
                                            -number = number - 1;
                                            -count = count + 1;

                                            -console.log("This is Count: " + count);
                                            -console.log("This is number: " + number);


                    hr
            .row.bottom
                .col-md-9

                    .description
                        h3 Description:
                        h4 #{description}
                        hr
